<div class="container">
	<div class="well">
		<h4>There are <b><%= Event.all.count %></b> Events happening</h4>
	</div>
	<% @events.each do |event| %>
	  <div class="well">
		<h4><%= link_to event.title,event_path(event) %></h4>
	    <p><%= event.event_date %></p>
	    <p><%= event.venue %></p>
	    <p><b><%= event.assemblies.count %></b> attending</p>
	  </div>
	<% end %>
</div>