<div class="container">
	<% if @events.count == 0 %>
		<div class="well">
			<h4>There are no events created by you.</h4>
		</div>
	<% else %>
		<div class="well">
			<h4>There are <b><%= pluralize(@events.count, 'events') %></b> created by you</h4>
		</div>
	<% end %>
	<% @events.each do |event| %>
	  <div class="well">
		<h4><%= link_to event.title,event_path(event) %></h4>
	    <p>ON : <b><%= event.event_date.to_date.strftime("%B %d, %Y") %></b></p>
	    <p>AT : <b><%= event.event_date.strftime("%I:%M %p") %></b></p>
	    <p>VENUE: <b><%= event.venue %></b></p>
	    <p><b><%= event.assemblies.count %></b> attending</p>
	  </div>
	<% end %>
</div>