<div class="container">
  <div class="well">
	<p><%= @event.title %></p>
	<p><%= @event.description %></p>
	<p><%= @event.event_date %></p>
	<p><%= @event.venue %></p>
	<p><%= @event.address %></p>
	<p><%= @event.city %></p>
	<p><%= @event.state %></p>
	<p><%= link_to 'edit',edit_event_path(@event) %></p>
	<p><%= link_to 'delete',@event,method: :delete %></p>
	<p><%= link_to 'back',events_path %></p>
  </div>
</div>
