<div class="container">
  	<div class="well">
  		<p class="pull-right"><%= @event.event_date.to_date.strftime("%B %d, %Y")%> @ <%= @event.event_date.strftime("%I:%M %p")%></p>
		<h3><%= @event.title %></h3>
		<p>Description : <b><%= @event.description %></b></p>
		<p>Venue : <b><%= @event.venue %></b></p>
		<p>Address : <b><%= @event.address %></b></p>
		<p>City : <b><%= @event.city %></b></p>
		<p>State : <b><%= @event.state %></b></p>
		<% if @event.user_id == current_user.id %>
			<p><%= link_to 'edit',edit_event_path(@event) %></p>
			<p><%= link_to 'delete',@event,method: :delete,data: {confirm:"Are you sure?"} %></p>
			<% else %>
			<% @event.assemblies.each do |assembly| %>
			    <% if assembly.user_id == current_user.id %>
					<% @is_attending = true %>
				<% end %>
			<% end %>
			<% if Time.zone.now >= @event.event_date %>
				<span class = "label label-danger">This Event is over</span>
			<% else %>
				<% if @is_attending %>
					<%= link_to "UnAttend",unAttend_path(@event),class:"btn btn-danger" %>
				<% else %>
					<%= link_to "Attend",attend_path(@event),class:"btn btn-primary" %>
				<% end %>
			<% end %>
		<% end %>
		<p><%= link_to 'back',events_path %></p>
  	</div>
	<div class="well">
		<h4>Number of people attending this event : <%= @event.assemblies.count %></h4>
		<% @event.assemblies.each do |assembly| %>
			<% user = User.find(assembly.user_id) %>
			<table width="30%" class="user-details">
				<tr><td><%= user.name %></td><td><%= user.gender %></td></tr>
			</table>
        <% end %>
	</div>
</div>
