<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <%= link_to "Events Board", root_path, class: "navbar-brand" %>
        </div> 
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
          <% else %>
            <li><%= link_to "Log in", new_user_session_path %></li>
            <li><%=link_to "Register", new_user_registration_path %></li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
        <div class="user-actions">
           <p><%= link_to "New Event", new_event_path, class: "navbar-text navbar-right navbar-link" %></p>
           <p><%= link_to "My Events", my_events_path, class: "navbar-text navbar-right navbar-link" %></p>
         </div>
        <% end %>
    </div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
